* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a.navbar-brand.p {
  color: #FF006F !important;

}

.nav-link:hover {
  color: #FF006F !important;
}

#banner {

  height: 67.5vh;
  overflow: hidden;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 200%)
}

.titulo-banner {
  color: white;
  font-size: 59px;
  margin-top: 200px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;

  text-align: center;
  font-weight: 600;
  display: inline-block;
  animation: movetop 1s ease-out;
}

.padre {
  display: flex;
  justify-content: center;
}


video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 77vh;
  overflow: hidden;
  z-index: -1;
  object-fit: cover;
  /* combined with 'absolute', works like background-size, but for DOM elements */

}




.btn-outline-danger {
  color: #fff;
  border-color: #ea3057;
  width: 250px;
  height: 48px;


}

.btn-outline-danger:hover {
  background-color: #ea3057;
}



#article {

  margin-bottom: 70px;

}

.article {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-top: 16px;
  padding: 5px;
  margin-left: 70px;

  font-weight: 600;
  text-align: justify;
  animation: animation 1s ease;
}


@keyframes animation {
  from {
    font-weight: 100;
    letter-spacing: 20px;
    fill-opacity: 0;
  }

  to {
    letter-spacing: 0px;

    font-weight: 600;
    fill-opacity: 100%;
  }


}

h1 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  margin-top: 202px;
  padding: 5px;
  margin-left: 70px;
  text-align: left;
}





.img-article1 {
  height: 500px;
  width: 255px;
  background-image: url(pexels-fauxels-3183165.jpg);
  background-size: cover;
  border-radius: 10px;
  margin-top: 50px;
  transition: .5s;


}

.img-article1:hover {
  overflow: hidden;
  transform: scale(1.1);
}

.img-article2 {
  height: 500px;
  width: 255px;
  margin-top: 50px;
  background-image: url(pexels-cottonbro-5083405.jpg);
  background-size: cover;
  border-radius: 10px;
  margin-top: 100px;
  transition: .5s;
}

.img-article2:hover {
  overflow: hidden;
  transform: scale(1.1);
}

#servicios {
  height: auto;
  background-color: #F1F1F1;
  
}

.titulo-servicios {
  margin-top: 40px;
  margin-bottom:32px;;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #ea3057;
  color: white;
}
.container-servicios{
  background-color: white;
  height: 400px;
  margin-bottom: 48px;
  padding: 10px;
}

.servicios {
  text-align: center;
  margin-top: 16px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;


}

.servicios-menu {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
}

#contact-form{
  height: auto;
}
.contact-form-titulo{
  margin-top: 32px;
  font-family: 'Roboto', sans-serif;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #FF006F;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}
.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: #FF006F;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 20px;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}